* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 66vw;
    color: whitesmoke;
    background-color: #313131;
    font-family: Verdana;
    font-size: 1vw;
}

div.flash {
    background-color: tomato;
    color: gold;
}

nav {
    display: flex;
    justify-content: space-between;
}

.login-register, .user-account {
    display: flex;
    flex-direction: row;
}

section {
    flex:1;
}

h1, h2, h3 {
    color: gold;
}

a {
    color: limegreen;
}

main, form {
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, a, p, input, label, select, textarea {
    margin: 0.5vw;
    padding: 0.5vw;
}

input, select, textarea {
    border-radius: 0.5vw;
    font-size: 1vw;
}

input[type="submit"] {
    cursor: pointer;
    color: whitesmoke;
    background-color: steelblue;
}

table, th, td {
    border: 0.1vw solid silver;
    border-collapse: collapse;
    font-family: Verdana;
    font-size: 1vw;
    padding: 0.5vw;
}

th {
    background-color: steelblue;
    color: whitesmoke;
}

tr:nth-child(even) {
    background-color: rgb(96, 96, 96);
}

tr:hover {
    background-color:steelblue;
}

pre {
    font-family: Verdana;
}

.dropbtn {
    background-color:mediumseagreen;
    color: white;
    padding: 0.5vw;
    margin-bottom: 0.25vw;
    font-size: 1vw;
    border: none;
    border-radius: 0.5vw;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    z-index: 1;
}

.dropdown-content a {
    color: #313131;
    padding: 0.5vw;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #dddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #313131;}