* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 66vw;
    color: whitesmoke;
    background-color: #313131;
    font-family: Verdana;
    font-size: 1vw;
}

div.flash {
    background-color:crimson;
    color: gold;
}

nav {
    border: 0.15vw solid silver;
    background-color: #6200ee;
    border-radius: 0.5vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vw;
}

nav > a {
    color: #03dac5;
    font-weight: bold;
    font-size: 1.1vw;
    text-decoration: none;
}

.login-register, .user-account {
    display: flex;
    flex-direction: row;
}

section {
    flex:1;
}

section.purple {
    border-radius: 0.5vw;
    background-color:#bb86fc;
}

section.purple > * {
    color: #313131;
}

div.char {
    background-color: whitesmoke;
    border-radius: 0.5vw;
}

h1, h2, h3 {
    color: #bb86fc;
}

a {
    color: #03dac5;
    font-size: 1vw;
}

main, form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1, h2, h3, h4, a, p, input, label, select, textarea {
    margin: 0.25vw;
    padding: 0.25vw;
}

label {
    color: #03dac5;
    font-size: 1vw;
}

input, select, textarea {
    border-radius: 0.5vw;
    font-size: 1vw;
}

input[type="submit"] {
    cursor: pointer;
    color: whitesmoke;
    background-color: #6200ee;
}

table, th, td {
    border: 0.1vw solid silver;
    border-radius: 0.5vw;
    font-family: Verdana;
    font-size: 1vw;
    padding: 0.25vw;
}

th {
    background-color: #6200ee;
    color: whitesmoke;
}

/* tr:nth-child(even) {
    background-color: rgb(96, 96, 96);
} */

tr:hover {
    background-color: gray;
}

pre {
    font-family: Verdana;
}

.dropbtncat {
    background-color: #bb86fc;
    color: white;
    padding: 0.25vw;
    font-size: 1vw;
    border: none;
    border-radius: 0.5vw;
}

.dropbtn {
    background-color: #018786;
    color: white;
    padding: 0.25vw;
    font-size: 1vw;
    border: none;
    border-radius: 0.5vw;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    z-index: 1;
}

.dropdown-content a {
    color: #313131;
    padding: 0.25vw;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #dddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #313131;
}