<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Categorias</title>
</head>
<body>
        
    <nav>
        <a href="/panel">Panel</a>
        <a href="/detalle">Detalle & Balance</a>
        <a href="/categorias">Categorías & Items</a>
        <a href="/iorecords">Agregar Gastos & Ingresos</a>
        <a href="/logout">Logout</a>
    </nav>

    <div class="flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <h1>Detalle de categorías</h1>
        <h2>Categorías & Items de Gastos</h2>
        <table>
            <thead>
                <tr>
                    <th>Gastos</th>
                    <th>Items</th>
                </tr>
            </thead>
            <tbody>
                {% for cat in cats_gastos %}
                <tr>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtncat">{{ cat.cname }}</button>
                            <div class="dropdown-content">
                                <a href="/items_edit/{{cat.cio}}/{{cat.cid}}/{{cat.cname}}">Agregar Item</a>
                                <a href="/items_delete/{{cat.cio}}/{{cat.cid}}" onclick="return confirm('Confirme para eliminar TODOS los items')">Eliminar todos</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        {% for item in items_gastos[loop.index0] %}
                        <div class="dropdown">
                            <button class="dropbtn">{{ item.iname }}</button>
                            <div class="dropdown-content">
                                <a href="/item_edit/{{item.iid}}/{{item.iname}}">Editar</a>
                                <a href="/items_delete/{{item.iid}}" onclick="return confirm('Confirme para eliminar item {{ item.iname }}')">Eliminar</a>
                            </div>
                        </div>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Categorías & Items de Ingresos</h2>
        <table>
            <thead>
                <tr>
                    <th>Ingresos</th>
                    <th>Items</th>
                </tr>
            </thead>
            <tbody>
                {% for cat in cats_ingresos %}
                <tr>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtncat">{{ cat.cname }}</button>
                            <div class="dropdown-content">
                                <a href="/items_edit/{{cat.cio}}/{{cat.cid}}/{{cat.cname}}">Agregar Item</a>
                                <a href="/items_delete/{{cat.cio}}/{{cat.cid}}" onclick="return confirm('Confirme para eliminar TODOS los items')">Eliminar todos</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        {% for item in items_ingresos[loop.index0] %}
                        <div class="dropdown">
                            <button class="dropbtn">{{ item.iname }}</button>
                            <div class="dropdown-content">
                                <a href="/item_edit/{{item.iid}}/{{item.iname}}">Editar</a>
                                <a href="/items_delete/{{item.iid}}" onclick="return confirm('Confirme para eliminar item {{ item.iname }}')">Eliminar</a>
                            </div>
                        </div>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="#">Volver arriba</a>
    </main>
</body>
</html>