<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Editando Item</title>
</head>
<body>
        
    <nav>
        <a href="/panel">Panel</a>
        <a href="/logout">Logout</a>
        <a href="/blog">Blog</a>
    </nav>

    <div class="flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <section>
            <h1>Editando {{ iedit.iname }}</h1>
            <form action="/item_update" method="post">
                {{ itemform.csrf_token }}
                {{ itemform.iid }}
                {{ itemform.iname.label }}
                {{ itemform.iname }}
                {% for error in itemform.iname.errors %}
                {{ error }}
                {% endfor %}
                <input type="submit" value="Actualizar">
            </form>
        </section>
        <a href="/categorias">Detalle de categorías</a>
    </main>
</body>
</html>