<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {{ init_charts }}
    <title>Panel MisGastos</title>
</head>
<body>
    
    <nav>
        <a href="/panel">Panel</a>
        <a href="/logout">Logout</a>
        <a href="/blog">Blog</a>
        <button><a href="/iorecords">Registrar ingresos y gastos</a></button>
    </nav>

    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <main>
        <section>
            <h1>Gastos por categoría</h1>
            <table>
                <thead>
                    <tr>
                        <th>Categoría</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cat in totals %}
                    <tr>
                        <td>{{ cat.cname }}</td>
                        <td>{{ cat.subtotal }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <section>
            <h1>Distribución de gastos por categoría</h1>
            {{ cat_chart() }}
        </section>
        <a href="/detalle">Balance & detalle del mes</a>
        <a href="/categorias">Detalle de categorías</a>
    </main>
</body>
</html>